.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gamebtn{
  display: inline;
  height: 100px;
  width: 100px;
  background-color: #000506;
  color: rgb(153, 233, 49);
  vertical-align: top;
  font-size: 20px;
  font-weight: bold;
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
  height: 90vh;
}
